@import '../login/login.css';

.form-group textarea {
  font-size: 1rem;
  padding: 0.8rem 1rem;
  border: 1px solid #cbd5e1;
  border-radius: 0.5rem;
  transition: border-color 0.3s, box-shadow 0.3s;
  font-family: 'Poppins', sans-serif;
  resize: vertical;
}

.form-group textarea:focus {
  outline: none;
  border-color: #3b82f6;
  box-shadow: 0 0 0 3px rgba(59, 130, 246, 0.2);
}